.standart-button
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif
  font-size: 16px
  margin: 0 auto
  display: block
  width: 100%
  height: 40px
  border-radius: 15px
  border-width: 0
  background-color: #398ab9
  color: #fff
  
  &:hover 
    background-color: #196896
    cursor: pointer

  &:disabled
    background-color: rgb(106, 109, 107)