.table
  margin: 0 auto 20px
  display: flex
  flex-direction: column

  &__criteria-row 
    display: flex
    justify-content: center

  &__row
    display: flex
    justify-content: center
    align-items: center

  &__cell
    padding: 5px
    width: 50px
    height: 20px
    display: flex
    justify-content: center
    align-items: center